.team-title {
  display: flex;justify-content:center; 
  color: #ffffff;
}

.team-title h4 {
  font-weight: bolder;
  font-size: larger;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24vh;
}

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-top: 10vh;
}

.img-container {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;

}

.img-container img{
  height: 240px;
  width: 240px;
  border: 4px solid #ffffff;
}

.img-container:hover {
  transform: scale(1.1);
}

.circle {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.divider {
  background-color: #ffffff;
  height: 1px;
  margin: 16px 0;
  width: 160px;
}

.name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.title {
  color: #fff583;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.coordinators {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coordinators .co-title {
  display: flex;justify-content:center; 
  color: #ffffff;
}


.coordinators .co-title h4 {
  font-weight: bolder;
  font-size: larger;
}



.card {
  display: flex;
  justify-content: center;
  background-color: #00000054 !important;
  height: 70vh;
  width: 50vw;

}

.card p {
  color: #ffffff;
}

.card-title {
  font-size: 2rem;margin-bottom: 40px;display:flex;justify-content:center;font-weight: bolder
}
