@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --background-color: #f9f9f9;
    --text-color: #ffffff;
    --text-secondary-color: #b6b6b5;
    --shadow-color: #ffffff78;
}

body {
    margin: 0; 
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--secondary-color);
}

canvas {
    display: block;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#150d6b 1.1%, #bc1050 130.5%);
    background-position: 50% 50%;
    z-index: -1;
}

/* nav section  */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: bolder;
}

.nav-link {
    margin: 0px 15px;
    padding: 5px 10px;
    color: var(--secondary-color);
}

.nav-item a:hover{
    border-bottom: 2px solid var(--primary-color);
}

/* home section  */
.home-section {
    align-items: center;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 40vh;
}

.home {
    text-align: center;
    background-color: #00000042;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 65vw;
}

.home h1 {
    font-size: 1.7em;
    color: var(--text-color);

}

.home p {
    font-size: 1em;
    color: var(--text-secondary-color);
    padding-bottom: 6px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.home-section .home .home-btn a {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #150d6ba6;
    border-radius: 9px;
    color: var(--primary-color);
    margin-top: 10px;
    border: 2px solid #ffffff;

}

.home-section .home .home-btn a:hover{
    background-color: #000000;
}

/* footer section  */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 20px;
    color: var(--secondary-color);
    text-align: center;
    background: #00000080;
}

.footer-section {
    line-height: 2.0;
    padding: 3px;
}

.footer-section h4 {
    font-size: 16px;
    color: var(--text-color);
}

.footer-section a {
    padding: 8px;
    color: var(--text-color);
}

.footer-section h4:hover {
    color: var(--text-secondary-color);
}

.footer-section a:hover {
    color: var(--text-secondary-color);
}