:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --background-color: #f9f9f9;
    --text-color: rgb(255, 255, 255);
    --text-secondary-color: rgb(219, 216, 216);
    --shadow-color: #ffffff78;
}

body {
    margin: 0; 
    font: normal 75% Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

canvas {
    display: block;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
    /* background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #491745 71%,   84%, #19081b  100%); */
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    background-position: 50% 50%;
    z-index: -1;
}

/* nav section  */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: bolder;
}

.nav-link {
    margin: 0px 15px;
    padding: 5px 10px;
    color: var(--secondary-color);
}

.nav-item a:hover{
    border-bottom: 2px solid var(--primary-color);
}

/* home section  */
.home-section {
    align-items: center;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.home {
    text-align: center;
    background-color: #00000080;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 65vw;
}

.home h1 {
    font-size: 1.6em;
    color: var(--text-color);

}

.home p {
    font-size: 1em;
    color: var(--text-secondary-color);
    padding-bottom: 6px;
}

.home-section .home .home-btn a {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #000000;
    border-radius: 9px;
    color: var(--primary-color);
}


/* footer section  */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 20px;
    color: var(--secondary-color);
    text-align: center;
    background: #00000080;
}

.footer-section {
    line-height: 2.0;
    padding: 3px;
}

.footer-section h4 {
    font-size: 16px;
    color: var(--text-color);
}

.footer-section a {
    padding: 8px;
    color: var(--text-color);
}

.footer-section h4:hover {
    color: var(--text-secondary-color);
}

.footer-section a:hover {
    color: var(--text-secondary-color);
}